.App {
  text-align: center;
}

#map {
  height: 500px;
  width: 100%;
}
.dnyamic_map {
  /* border: 2px red solid; */
  height: 700px;
  width: 100%;
  /* padding: auto; */
  /* margin-left: 40px; */
  /* margin: 20px 0; */
  /* margin-top: 100px; */
  margin: 10px 0;
}

#MAP-TITLE {
  padding-left: 20px;
  background-color: rgb(253, 253, 253);
  border: gray;
}
