.App {
  text-align: center;
}

#map {
  height: 500px;
  width: 800%;
  margin: 20px 0;
}
.dnyamic_map {
  /* border: 2px red solid; */
  height: 700px;
  width: 100%;
  /* padding: auto; */
  /* margin-left: 40px; */
  margin: 20px 0;
}
