/*@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: #0e2431;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo {
  display: none;
}/*

/* styles.module.css */

/* Page */
/* Navbar.css */

/* Page */
html {
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
  background-color: #49aaea; 
}

.nav {
  width: 550px;
  margin: 100px auto 40px auto;
  text-align: center;
  position: relative;


}

/* Brand Name */
.brandName {
  position: absolute;
  right: 150%;
  top: -90px; /* Adjust based on desired position */
  font-family: Georgia, Arial, sans-serif;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;

}

/* Navigation */
.nav {
  font-family: Georgia, Arial, sans-serif;
  font-size: 0px;

}

.navItems {
  padding: 0;
  list-style: none;

}

.navItem {
  display: inline-block;
  margin-right: 40px;
  margin-top: -5px;
}

.navItem:last-child {
  margin-right: 0;
}

.navLink,
.navLink:link, 
.navLink:visited, 
.navLink:active,
.submenuLink,
.submenuLink:link, 
.submenuLink:visited, 
.submenuLink:active {
  display: block;
  position: relative;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  margin-top: -30px;
}

.navLink,
.navLink:link, 
.navLink:visited, 
.navLink:active {
  color: #ffffff;
  font-weight: bold;
}

.navLink::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: rgba(0,0,0,0.2);
  opacity: 0;
  -webkit-transform: translate(0, 10px);
  transform: translate(0, 10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.navLink:hover::before,
.navLink:hover::before {
  opacity: 1;
  -webkit-transform: translate(0, 5px);
  transform: translate(0, 5px);
}

.dropdown {
  position: relative;
}

.dropdown .navLink {
  padding-right: 15px;
  height: 17px;
  line-height: 17px;
}

.dropdown .navLink::after {
  content: "";
  position:absolute;
  top: 6px;
  right: 0;
  border: 5px solid transparent;
  border-top-color: #fff;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 100;
  width: 200px;
  margin-left: -100px;
  background: #fff;
  border-radius: 3px;
  line-height: 1.46667;
  margin-top: -5px;
  box-shadow: 0 0 8px rgba(0,0,0,.3);
  opacity:0;
  -webkit-transform: translate(0, 0) scale(.85);
  transform: translate(0, 0)scale(.85);
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  pointer-events: none;
}

.submenu::after, 
.submenu::before {
  content: ""; 
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -10px;
  border: 10px solid transparent;
  height: 0;
}

.submenu::after {
  border-bottom-color: #fff;
}

.submenu::before {
  margin-left: -13px;
  border: 13px solid transparent;
  border-bottom-color: rgba(0,0,0,.1);
  -webkit-filter:blur(1px);
  filter:blur(1px);
}

.submenuItems {
  list-style: none;
  padding: 10px 0;
}

.submenuItem {
  display: block;
  text-align: left;
}

.submenuLink,
.submenuLink:link, 
.submenuLink:visited, 
subsubmenuLink:active {
  color: #3498db;
  padding: 10px 20px;
}

.submenuLink:hover {
  text-decoration: underline;
}

.submenuSeperator {
  height: 0;
  margin: 12px 10px;
  border-top: 1px solid #eee;
}

.showSubmenu .submenu {
  opacity: 1;
  -webkit-transform: translate(0, 25px) scale(1);
  transform: translate(0, 25px) scale(1);
  pointer-events: auto;
}
