/* Weather.css */

/* Form Styles */
form {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */

}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  flex: 1;
  max-width: 300px; /* Limiting the maximum width */
  margin-right: 10px; /* Adding some space between input and button */
  margin-top: 3%;
  box-shadow: 0px 2px 5px rgba(40, 153, 239, 0.2);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin-top: 3%;

}

button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 300%;
  height: 300%;
  background: radial-gradient(circle, rgba(255,255,255,0) 40%, rgba(255,255,255,0.2) 60%, rgba(255,255,255,0.4) 80%, rgba(255,255,255,0.5));
  transition: width 0.3s ease, height 0.3s ease;
  border-radius: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
}

button:hover:before {
  width: 0;
  height: 0;
}

button span {
  position: relative;
  z-index: 1;
}

button:hover {
  background-color: #333;
}

.weather-info h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.weather-info p {
  font-size: 16px;
  margin-bottom: 8px;
}
