.main-header {
  background-color: #3da0e8;
  color: #fff;
  padding: 10px;
}

.sub-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-div h1 {
  margin: 0;
}

.ul-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.li-nav {
  margin-right: 10px;
}

.access-div p {
  margin: 0;
}
